{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">Sites</h1>
      <ul class="list-group list-group-flush" id="notes">
        {% for note in user.notes %}
        <li class="list-group-item">
          {{ topos.data }}
          <button type="button" class="close" onClick="deleteNote({{ topos.id }})">
            <span aria-hidden="true">&times;</span>
          </button>
        </li>
        {% endfor %}
      </ul>
      <form method="POST">
        <input type="text" name="name" placeholder="name">
        <textarea name="note" id="note" class="form-control"></textarea>
        <br />
        <div align="center">
          <button type="submit" class="btn btn-primary">Add site</button>
        </div>
      </form>
      {% endblock %}