{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">Update {note.data}</h1>
    <div>
        <form action="POST">
            <textarea name="note" id="note" class="form-control" form="notes">{{ note.data }}</textarea>
            <span aria-hidden="true">&times;</span>
            <div align="center">
                <button type="submit" class="btn btn-primary">Update Note</button>
                
              </div>
        </form>
    </div>    
    {% endblock %}